@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1EFEC;
  --foreground: #030303;
  --header-footer-bg: #030303;
}

.dark {
  --background: #030303;
  --foreground: #F1EFEC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
